.header{
    text-align: center;
    font-style: italic;
    background-color: lightseagreen;
    color: navy;
    position: relative;
    height: 100px;
    padding: 10px;
}
img{
    height: 100px;
    width: 100px;
    position: relative;
    right: 640px;
    bottom: 55px;
}
.main1{
    background-color: lightgoldenrodyellow;
    width:300px;
    height: 250px;
    position: relative;
    left: 40px;
    top: 20px;
 }
ol a{
 display: block;
 height: 60px;
 width: 250px;
}
.tablee{
    position: relative;
    left: 350px;
    bottom: 220px;
    width: 1000px;
}
.headding{
    text-align: center;
    position: relative;
    font-style: italic;
    left: 115px;
}
.pagintion{
    position: relative;
   left: 10px;
}
body{
    background-image: url(../asserts/photoes/bgimg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: 2000px;
    overflow-x: hidden;
}