.forgot{
    padding: 59px;
    border: solid black 1px;
    position: relative;
    bottom: 100px;
    left: 1100px;
    width: 550px;
    height: 379px;
    background-color:cyan;
}
.container{
    position: relative;
    width: 1300px;
    right: 430px;
    bottom: 270px;
}
img{
    position: relative;
    width: 300px;
    bottom: 160px;
    left: 270px;
}
body{
     background-image: url(../asserts/photoes/bgimg.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     position: relative;
     overflow-x: hidden;
     overflow-y: hidden;
     right: 250px;
}
h1{
    position: relative;
    top: 400px;
    left: 300px;
    font-style: italic;
    font-weight: 400;
    font-family:'Lucida Sans';
}