.header{
    text-align: center;
    font-style: italic;
    background-color: lightseagreen;
    color: navy;
    position: relative;
    height: 100px;
    padding: 10px;
}
img{
    height: 100px;
    width: 100px;
    position: relative;
    right: 640px;
    bottom: 55px;
}
.main1{
    background-color: gold;
    width:300px;
    height: 250px;
    position: relative;
    left: 40px;
    top: 20px;
 }
ol a{
 display: block;
 height: 60px;
 width: 250px;
}
