.lll{
    bottom: 135px;
    position: relative;
    font-style: italic;
}
.login{
    text-align: center;
    padding: 59px;
    border: solid black 1px;
    position: relative;
    bottom: 240px;
    left: 900px;
    width: 478px;
    height: 560px;
    background-color: rgb(226, 43, 150);
}
.log{
    position: relative;
    top: 100px;
}

body{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../asserts/photoes/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.logup{
    position: relative;
    bottom: 66px;
}
.pass{
    position: relative;
    top: 20px;
    left: 160px;
}
.remember{
    position: relative;
    top: 45px;
}
h1{
    position: relative;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    left: 40px;
    top: 300px;
    color: navy;
}
.logoo{
       position: relative;
        width: 200px;
        bottom: 160px;
        left: 100px;
}
.user{
    position: relative;
    bottom: 100px;
}
