.header{
    text-align: center;
    font-style: italic;
    background-color: lightseagreen;
    color: navy;
    position: relative;
    height: 100px;
    padding: 10px;
}
img{
    height: 100px;
    width: 100px;
    position: relative;
    right: 640px;
    bottom: 55px;
}
.hhh{
    bottom: 44px;
    position: relative;
    font-style: italic;
}
.regis{
    text-align: center;
    padding: 59px;
    border: solid black 1px;
    position: relative;
    bottom: -15px;
    left: 467px;
    width: 478px;
    height: 1100px;
    background-color: rgb(226, 43, 150);
}
.radio{
    position: relative;
    text-align: center;
    right: 20px;
}
.rounded{
    left: -20px;
    position: relative;
    height: 200px;
    width: 400px;
    top: 80px;
}
.imgs{
    position: relative;
    height: 200px;
    width: 400px;
}
body{
    background-image: url(../asserts/photoes/bgimg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: 2000px;
    overflow-x: hidden;
}