h1{
    position: relative;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    left: 40px;
    top: 300px;
    color: navy;
}
.logoo{
       position: relative;
        width: 200px;
        bottom: 190px;
        left: 340px;
}
body{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../asserts/photoes/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.main1{
    background-color: gold;
    width:300px;
    height: 250px;
    position: relative;
    left: 40px;
    top: -290px;
 }
ol a{
 display: block;
 height: 60px;
 width: 250px;
}
.sms{
    position: relative;
    text-align: center;
    padding: 59px;
    border: solid black 1px;
    background-color: rgb(226, 43, 150);
    width: 400px;
    height: 500px;
    left: 850px;
    bottom: 500px;
} 
.msg{
    position: relative;
    top: 70px;
}
.sss{
    position: relative;
    font-style: italic;

}
